.navigation {
    background-color: #454242;
    padding: 5px;
    margin: none;
    height: 100%;
    width: 100%;
}
.navButton {
    display: inline-block;
    list-style: none;
    color: #fff;
    border: solid 3px #FFF;
    padding: 5px;
    margin: 0px;
    width: 150px;
    height: 20px;
    text-align: center;
}
.hero {
    display: inline-block;
}
.aboutMe {
    padding: 55px 0px 0px 20px;
    margin: 20px;
    width: 35%;
}
.aboutMe p {
    text-indent: 12em;
}
.photo {
    width: 50%;
    float: right;
    margin: 10px;
    position: relative;
    top: -220px;
    
}
body {
    margin: 0px;
}
footer {
    background-color: #454242;
    color: #454242;
    padding: 15px;
    margin: 0px;
}