.navigation {
    background-color: #454242;
    padding: 5px;
    margin: none;
    height: 100%;
    width: 100%;
}
.navButton {
    display: inline-block;
    list-style: none;
    color: #fff;
    border: solid 3px #FFF;
    padding: 5px;
    margin: 0px;
    width: 150px;
    height: 20px;
    text-align: center;
}
.hero {
    display: grid;
    grid-template-columns:50% 50%;
}
.aboutMe {
    grid-column-start: auto;
    padding: 55px 0px 0px 20px;
    margin: 20px;
    width: 50%;
}
.aboutMe p {
    text-indent: 12em;
}
.active {
    color: #F1CE4F;
}
.photo {
    grid-column-end: auto;
    width: 50%;
    margin: 10px; 
    padding-bottom: 100px;
}
body {
    margin: 0px;
}
a {
 text-decoration: none;
 color: #fff;
}
footer {
    background-color: #454242;
    color: #454242;
    padding: 15px;
    margin: 0;
    width: 100%;
}