.navigation {
    background-color: #454242;
    padding: 5px;
    margin: none;
    height: 100%;
    width: 100%;
}
.navButton {
    display: inline-block;
    list-style: none;
    color: #fff;
    border: solid 3px #FFF;
    padding: 5px;
    margin: 0px;
    width: 150px;
    height: 20px;
    text-align: center;
}
.active {
    color: #F1CE4F;
}
.container {
    display: flex;
    flex-direction: row;
    border: solid 3px #000;
    flex-basis: 100%;
}
.start {
    justify-content: flex-start;
    flex-direction: row;
    padding: 100px;
}
.startI {
    justify-content: flex-start;
    flex-direction: row;
}
.end {
    justify-content: flex-end;
    flex-direction: row;
    padding: 100px;
}
.endI {
    justify-content: flex-end;
    flex-direction: row;
    padding-top: 15px;
}
.visible {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.caseStudy1 {
    display: none;
}
.content {
    display: flex;
    flex-direction: row;
}
#readMore {
    background-color: #454242;
    color: #fff;
    border: solid 3px #F1CE4F;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    
}
#readLess {
    background-color: #454242;
    color: #fff;
    border: solid 3px #F1CE4F;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    
}
#buzzword-text {
    padding: 100px;
}
#wddc-text {
    justify-content: flex-end;
    flex-direction: row;
    padding: 100px;
}
#candy-text {
    justify-content: flex-start;
    flex-direction: row;
    padding: 100px;
}
#buzzword {
    justify-content: flex-start;
    flex-direction: row;
    
}
#WDDC {
    width: 100%;
    height: 33%;
}
#candyCave {
    width: 100%;
    height: 33%;
}

a {
    text-decoration: none;
    color: #fff;
}
body {
    margin: 0px;
}
footer {
    background-color: #454242;
    color: #454242;
    padding: 15px;
    margin: 0px;
    width: 100%;
}
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media screen and (max-width: 600){
    img.responsive {width: 200px;
                    /*height: auto;*/
    }
}
